:root {
    --white: #fff;
    --font-color: #222;
    --main-green: #32b16b;
    --mid-green: #c1f0d7;
    --lightest-green: #e6f5ed;
    --button-main: orange;
    --button-hover: rgb(248, 178, 48);
    --button-active: rgb(243, 202, 127);
    --button-text-active: rgb(253, 233, 194);
    --tile-border: #999;
    --tile-border-hover: #32b16b;
    --keyboard-font-color: #444;
    --keyboard-bg: #eee;
    --keyboard-hover: #ddd;
    --keyboard-font-hover: #fff;
    --keyboard-active: #e6f5ed;
    --keyboard-font-active: #32b16b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    color: var(--font-color);
}

/* GENERAL TEXT */

h1 {
    font-size: 4vmin;
    color: var(--main-green);
}

/* HEADER */

header {
    background: var(--lighest-green);
    height: 5vh;
    line-height: 5vh;
}

/* NAVBAR */

nav {
    background: var(--main-green);
    height: 5vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

nav ul li {
    display: inline-block;

}

nav a {
    color: var(--white);
    display: block;
    padding: 0 20px;
    margin: 0 10px;
    line-height: 5vh;
    text-decoration: none;
}

nav a#start {
    line-height: 4vh;
    background: var(--button-main);
    color: var(--white);
    border-radius: 5px;
}

/* Nav hover effects */
nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:active {
    text-decoration: none;
    color: var(--mid-green);
}

nav ul li a#start:hover {
    background: var(--button-hover);
}

nav ul li a#start:active {
    background: var(--button-active);
    color:var(--button-text-active);
}

/* MAIN BODY */

main {
    height: 90vh;
    overflow: hidden;
    user-select: none;
}

/* GAME AREA */
#game-area {
    height: 65vh;
    margin: auto;
    width: 100%;
    position: relative;
}

#game-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

#game-area::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

/* Game Window, within Game Area */

#game-window {
    height: 65vh;
    width: 80%;
    min-width: 300px;
    max-width: 750px;
    margin: auto;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#game-window .row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#game-window .row:first-of-type {
    margin-top: 30px;
}

#game-window .row:last-of-type {
    margin-bottom: 30px;
}

#game-window .row:hover {
    background: var(--lightest-green);
}

#game-window .row:hover div {
    border-color: var(--tile-border-hover);
}

#game-window .row:hover div:first-of-type p {
    color: var(--tile-border-hover);
}

#game-window .row div {
    width: calc(100% / 6);
    padding-bottom: calc((100% / 6) - 10px);
    position: relative;
    background: var(--white);
    border: solid 5px var(--tile-border);
    border-radius: 10%;
    margin: 3px;
}

#game-window .row div:first-of-type {
    width: 20px;
    height: calc(100% / 6);
    border: none;
    background: none;
    overflow: hidden;
    color: var(--tile-border);
}

/* Positions text within the boxes */

#game-window .row div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Scrollbar formatting */

#game-window::-webkit-scrollbar {
    width: 10px;
}

#game-window ::-webkit-scrollbar-track {
    background: none;
}

#game-window::-webkit-scrollbar-thumb {
    background: var(--tile-border);
    border-radius: 10px;
}

#game-window::-webkit-scrollbar-thumb:hover {
    background: var(--tile-border-hover);
}

/* KEYBOARD FORMATTING */

#keyboard {
    width: 100vw;
    height: 25vh;
    padding: 0 10vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-transform: uppercase;
}

#keyboard .row {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#keyboard .row div {
    background: var(--keyboard-bg);
    color: var(--keyboard-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: calc((25vh / 3) - (2px * 3));
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

#keyboard .row div.bigbutton {
    width: calc(5vw * 1.5);
}

/* Keyboard hover effects */

#keyboard .row div:hover {
    background: var(--keyboard-hover);
    color: var(--keyboard-font-hover);
}

#keyboard .row div:active {
    background: var(--keyboard-active);
    color: var(--keyboard-font-active);
}